<div class="jumbotron">
  <header class="container">
    <h1>Frank's List</h1>
  </header>
</div>

<div class="container">
  {{outlet}}
</div>

<footer>
  <!-- {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}} -->
</footer>
